/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.stock-area{
  border:  1px solid lightgrey;
  height: 450px;
  width: 100%;
}

#toast-container {
  top: 1% !important;
  right: auto !important;
  bottom: auto%;
  left:auto;  
}